/* baseball-hist-dash style sheet */
/* Basic banner */
.banner {
  padding-top: 2%;
  font-style: italic;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


/* Main menu style for dropdowns and sliders */
.menu {
  height: 360px;
  flex-direction: column;
}

.menu h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.menu h4 {
  margin-top: 5px;
  margin-bottom: 10px;
  opacity: 70%;
  font-weight: lighter;
}

.era {
  text-align: center;
  margin: auto;
  font-size: 18px;
  width: 220px;
}

.era-slider {
  width: 90%;
}

.team {
  text-align: center;
  margin: auto;
  font-size: 18px;
  width: 290px;
}
/* end of Menu styles */


/* Basic landing */
.home{
  height: 421px;
  padding: 5%;
}


/* Features and slices are to be used together */
/* NOTE: Features and slices will be replaced by Bootstrap grid */
.slice {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature {
  height: auto;
  display: inline-block;
}

.feature2 {
  height: auto;
  width: 50%;
  display: inline-block;
}


/* Footer */
footer p {
  text-align: left;
  font-size: small;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  padding: 5%;
  height: 100%;
}

footer a:link {
  color:gray;
}

footer a:visited {
  color: black;
}
